<html>
	<head>
		<title>Password Generator</title>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<link href="/styles" rel="stylesheet">
		<script>
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			function buttonpressed(){
				socket.emit('requestpassword')
			}
			socket.on('sendfeedback', function(message){
				feedback = document.getElementById("feedback")
				feedback.innerHTML = message
			})
		</script>
	</head>
	<body>
		{%include 'navbar.j2'%}
		<h1>Password generating system</h1>
		<p> By Luke Manning </p>
		<button onclick="buttonpressed()" id="myBtn">Generate Password</button>
		<br>
		<div id="feedback"></div>
	</body>
</html>