body{
    background-color: #BCE2F3;
    margin: 0;
}
h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    color: #00A3E0;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #00A3E0;